@import "../../variables";

@mixin page-section {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  background-color: $cs-light-cream;

  max-width: 100%;

  position: relative;
}

.AboutPage {
  @include page-section;

  padding-top: 10vh;
  display: flex;
}

.intro-main {
  width: 50%;
  height: 100%;

  padding-left: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-header {
  line-height: 1.4;
  
  margin-bottom: 3%;
}

.about-blurb {
  width: 80%;

  font-size: 1.1em;

  margin-bottom: 6%;
}

.graphic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-msg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3%;

  color: $cs-gray-2;

  text-align: center;

  a {
    color: inherit;
  }
}

.product-demo-section {
  @include page-section;
}
