.find-swap-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.find-swap-content {
  display: flex;

  width: 100%;
  padding: 0 2%;
}

.filter-form-container {
  width: 20%;
  
  margin-right: 2%;
}

.swap-results-container {
  width: 80%;
}
