.form-container {
    background-color: var(--cs-white-1);
    display: flex;
}

/* make smaller screens form continaer width 1150px for the form-container  (using media queries) */

.form-container * {
    font-size: 18px;
    --indicator-width: 4px;
}


.list-links {
    list-style: none;
    min-height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    border-right: 2px solid var(--cs-grey-1);
    margin-bottom: 0px;
}

.list-links > li {
    font-size: 22px;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 23px;
    white-space: nowrap;
    border-left: var(--indicator-width) solid var(--cs-white-1);
    position: relative;
}

.list-links > li > div {
    font-size: 25px;
}

.list-links > li:hover {
    border-left: var(--indicator-width) solid var(--cs-orange-4);
    background-color: var(--cs-grey-1);
}


.full-a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

@media (max-width: 710px) {
    .list-links {
      display: none;
    }
}
  