$cs-light-cream: #fffef2;
$cs-cream-1: #FFFDE7;
$cs-cream-2: #F4EEE0;
$cs-brown-1: #A1887F;
$cs-brown-2: #795548;
$cs-brown-3: #5D4037;
$cs-brown-4: #3E2723;
$cs-orange-1: #FFE0B2;
$cs-orange-2: #FFCC80;
$cs-orange-3: #FFB74D;
$cs-orange-4: #FFA726;
$cs-orange-5: #FB8C00;
$cs-dark-orange: rgb(149, 80, 1);
