body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.modal-scheme {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 1) 0px 5px 25px;
}

.full-contain {
  position: absolute;
  margin-top: var(--navbar-height);
  width: 100%;
}

.opacity-text {
  opacity: 0.75;
}

.base-btn-lightblue {
  background-color: var(--cs-lightblue-1);
  border-radius: 10px;
  color: var(--cs-white-1);
}

.base-btn {
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--cs-lightblue-1);
  border-radius: 10px;
  color: var(--cs-white-1);
}