$cs-light-cream: #fffef2;
$cs-cream-1: #FFFDE7;
$cs-cream-2: #F4EEE0;

$cs-brown-1: #A1887F;
$cs-brown-2: #795548;
$cs-brown-3: #5D4037;
$cs-brown-4: #3E2723;

$cs-blue-1: #00002e;

$cs-orange-1: #FFE0B2;
$cs-orange-2: #FFCC80;
$cs-orange-3: #FFB74D;
$cs-orange-4: #FFA726;
$cs-orange-5: #FB8C00;
$cs-orange-6: #db7800;
$cs-dark-orange: rgb(149, 80, 1);

$cs-gray-1: rgb(200, 200, 200);
$cs-gray-2: rgb(150, 150, 150);
$cs-light-gray: rgb(240, 240, 240);
