.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.status {
  font-size: 10em;
  font-weight: 700;
  color: gray;
  text-shadow: rgba(0, 0, 0, 0.5) 30px 30px 50px;
}

.description {
  margin-top: 20px;
}
