.find_swap_page {
  display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 10px;
  gap: 20px;
}

.find_swap_content {
  // display: flex;

  width: 100%;
  margin-top: var(--navbar-height);
}
