$chat-header-bc: rgb(240, 240, 240);

.chat-header {
  width: 100%;
  min-height: 65px;   // change to scale
  background-color: $chat-header-bc;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding-bottom: 6px;
 
}

.chat-user-info {
  display: flex;
  align-items: center;

  .avatar-container {
    margin-right: 13px;

  }

  .username-container {
    font-weight: 500;
    font-size: 25px;
  }
}

@media (max-width: 1000px) {
  .chat-header {

    flex-direction: column;
    justify-content:center;
    gap: 7px;


    .username-container {
      font-size: 18px;
    }

    .interact-btn {
      font-size: 15px;
    }


  }
}

