.form-input-container {
  position: relative;
  padding: 5px 10px;

  height: 80px;

  input {
    border: none;
    border-bottom: 3px solid gray;

    padding: 5px 0px;
    width: 100%;
  }

  input:focus {
    outline: none;
  }
  
  .input-label {
    position: absolute;
    top: 10px;
    font-size: 1em;
    left: 10px;
    
    pointer-events: none;
  
    color: gray;
    // visibility: hidden;

    transition: font-size 0.2s, top 0.2s;

    max-width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input:focus + label {
    top: -12px;
    font-size: 0.85em;
  }
}


.input-error-msg {
  font-size: 0.8em;
  color: red;

  visibility: hidden;
  overflow: auto;
}
