@import "../../variables";

.MuiPaper-root:has(.filter-form-container) {
  background-color: $cs-light-gray;
  
}

.filter-form-container {
  // position: fixed;
  // top: 50px;   // matches navbar
  // bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;

  width: 300px;
  padding: 0 30px;
  padding-top: 60px;
  
  // Cuisine chips
  .MuiAutocomplete-tag {
    background-color: $cs-orange-4;
    // color: white;
    font-weight: 500;
  }

  // Distance slider color
  .MuiSlider-colorPrimary, .MuiSlider-thumbColorPrimary {
    color: $cs-orange-5;
  }

  .filter-fieldset-section {
    margin-bottom: 10px;
  }

  .filter-form-header {
    margin-top: 25px;
    margin-bottom: 15px;
    
    h2 {
      font-size: 1.5em;
      margin: 0;
    }
  }

  .filter-form-tooltip {
    width: 17px;
    height: 17px;
    padding: 4px;
    border-radius: 999px;
    filter: invert(100%);
    background-color: gray;
  }
}

.MuiDrawer-root {
  overflow-x: hidden;
}
