.switch-button-container {
  display: flex;
  flex-direction: column;
  
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;

  position: absolute;
  right: 2.2vw;
  top: 100px;

  a, a:visited {
    text-decoration: none;
  }
}

.my-swaps-link, .my-convos-link {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  padding: 20px 1.5vw;
  border: none;
  background-color: rgb(235, 235, 235);
}

.my-swaps-link {
  border-bottom: 1px solid gray;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.my-swaps-link span {
  font-size: 28px;
}

.my-convos-link {
  border-top: 1px solid gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.my-swaps-link:active, .my-convos-link:active {
  opacity: 0.6;
}
