.main-container {
    display: grid;
    background-color:rgb(240, 240, 240);
    grid-template-columns: 270px 1fr 1fr;
    align-items: center;
    border-radius: 25px;
    column-gap: 10px;
    min-width: fit-content;
    justify-content: center;
    padding: 9px;
}

.distance-display {
    width: 100px;
    overflow: hidden;
}

.main-container * {
    font-size: 22px;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 0px;
    margin-right: 20px;
}

.bg-info {
    border-radius: 20px;
}

.image-container {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-tag {
    grid-column: 2 / 6;
    grid-row: 1;
    margin-left: 7px;
}

.username {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.distance-tag {
    grid-column: 2 / 4;
    grid-row: 2;
    min-width: fit-content;
    display: flex;

    white-space: nowrap;
}

.rating-tag {
    grid-column: 5 / 6;
    min-width: fit-content;
    display: flex;
    align-items: center;
}

.finalCol-container {
    display: flex;
    flex-direction: row-reverse;
}

@media (max-width: 700px) {
    .main-container {
        grid-template-columns: 240px 1fr;
    }

    .finalCol-container {
        order: -1;
    }

    .info-container {
        order: -2;
    }

}