.swap-results-container {
  // margin-left: 22%;
  // padding-top: var(--navbar-height);

  .main-container {
    margin-bottom: 25px;
  }
}

.swap-button {
  border: 0px;
  white-space: nowrap;
  border-radius: 10px;
  background-color: var(--cs-lightblue-1);
}

.swap-results-container .search-tag {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.swap-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 10px;
  font-size: 30px;
}

.swap-header span {
  white-space: nowrap;
}

.swap-header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.swap-option {
  font-size: 30px;
  border-radius: 10px;
  box-sizing: border-box;
  color: 1px solid black;
}

.swap-text {
  font-weight: var(--font-bold-1);
  color: var(--cs-white-1);
  font-size: 26px;
}



.small-swap-button {
  display: none;
}

@media (max-width: 1560px) {
  .swap-header span {
    width: 140px;
  }
}

@media (max-width: 1300px) {
  .swap-button {
    display: none;
  }

  .swap-results-container .search-tag {
    font-size: 25px;
    width: 25px;
    height: 25px;
  }

  .swap-header span {
    width: 120px;
  }

  .small-swap-button {
    display: block;
  }

  .swap-header {
    font-size: 22px;
  }

  .swap-option {
    font-size: 22px;
  }
}