.list-container {
   overflow: visible;
}

.list-container > div {
   margin-bottom: 6px;
}


.type-container {
   display: flex;
}

* {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif 
}



