.tag {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    padding-left: 7px;
    padding-right: 7px;
    background-color: lightgreen;
    text-align: center;
    font-weight: 600;
    width: fit-content;
    margin-bottom: 2px;
    color: black;
}