.tag {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 16px;
    color: green;
    border-color: green;
    margin-top: 6px;
    margin-left: 12px;
    padding: 3px;
}