.user-container {
    /* background-image: linear-gradient(to right top, #f0f0f0, #e7e6e7, #deddde, #d5d3d4, #cdcaca); */
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--cs-white-1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.user-container * {
    font-size: 22px;
}

.profile-header {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 27px;
    position: relative;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    gap: 14px;
}

.user-bio-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.user-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gallery > img {
    width: 100%;
    height: 100%;
}

.user-button {
    background-color: var(--cs-orange-4);
    border: 0px;
    border-radius: 10px;
    color: var(--cs-white-1);
    font-weight: var(--font-bold-1);
    margin-left: 2px;
}

.gallery {
    margin-top: 5px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: 250px;
}

.edit-button {
    background-color: var(--cs-orange-4);
    border: 0px;
    border-radius: 10px;
    justify-self: flex-end;
}

.profile-img {
    width: 120px;
    height: 120px; 
    border-radius: 50px;
}

.edit-profile-text {
    margin-right: 10px;
    color: var(--cs-black-2);
    font-size: 30px;
}

.edit-button-container {
    display: flex;
    align-items: center;
}

.add-tags {
    width: 100%;
}

.type-edit {
    margin-right: 12px;
    margin-top: -2px;
}

.type-route-button {
    margin-left: 2px;
}

.profile-pic-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.type-text {
    font-weight: var(--font-bold-1);
    width: 17px;
    white-space: nowrap;
}

.bio {
    word-wrap: break-word;
}

.username-tag {
    font-weight: var(--font-bold-1);
    font-size: 45px;
    margin-left: 10px;
}

@media (max-width: 730px) {
    .user-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .edit-profile-text {
        font-size: 24px;
        margin-right: 10px;
        text-align: right;

    }
}

