@import "../../styles/variables";

.navbar_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  // Navbar color styling
  background-color: $cs-light-cream;
  border-bottom: 1px solid rgb(225, 225, 225);
  
  padding-left: 10px;
  padding-right: 10px;
}

.nav_link {
  padding-top: 4px;
  padding-bottom: 4px;
}

.profile_picture_nav {
  width: 25px;
  height: 25px;
  border-radius: 30px;
}

.current_nav_link {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 500;
}
