.profile_pic {
    height: 50px;
    width: 50px;
    border-radius: 40px;
}

.large_profile_pic {
    height: 130px;
    width: 130px;
    border-radius: 80px;
}

.type_route_button {
    border: 0px;
    background-color: inherit;
    margin-left: -5px;
}

.border_profile {
    border: 3px solid var(--cs-black-1);
}