.switch_container span {
    font-size: 50px;
    color: var(--image-colour);
}

.swap_click_button {
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

.message_button {
    border-right: 0px;
    border-left: 1px solid var(--cs-grey-1);
    border-radius: 0px 10px 10px 0px
}

.switch_container button {
    width: 80px;
    border-top: 0px;
    border-bottom: 0px;
}

.switch_container button:hover {
    background-color: var(--cs-orange-4);
}

.highlight_container {
    background-color: var(--cs-orange-4);
}

.non_highlight_container {
    background-color: var(--image-background-colour);
}