@import "../../../styles/variables";

.Typewriter {
  padding-right: 4px;
  margin-right: 5px;

  border-right: 3px solid black;

  animation: 1.1s step-start infinite blink-cursor;

  color: $cs-orange-5;
  font-weight: 600;
}

@keyframes blink-cursor {
  0% {
    border-right-color: black;
  }
  45% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: black;
  }
}
