$message-border: rgb(220, 220, 220);

.message-row {
  
}

%user-message {
  border-radius: 20px;
  padding: 12px 15px;
  max-width: 300px;

  display: flex;
}

.their-message-bubble {
  @extend %user-message;
  border: 1px solid $message-border;
}
