$border-divider: rgb(210, 210, 210);
$conversations-banner: rgb(240, 240, 240);

.people-container {
  width: 33%;
  height: 100%;
  border-right: 1px solid $border-divider;
  display: flex;
  flex-direction: column;

  .people-heading {
    font-size: 1.4em;
    font-weight: bold;
    background-color: $conversations-banner;
    border-top-left-radius: 7px;

    width: 100%;
    flex: 1.5;
    min-height: 65px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;
  }

  .people-list {
    padding-top: 8px;
    flex: 8.5;
    overflow-y: auto;

    border-bottom-left-radius: 7px;
  }
}
