.user-container {
    //display: flex;
    //min-width: min-content;

    margin: 0 auto;
    width: 60%;
    border-radius: 30px;
    min-height: 550px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    background-image: linear-gradient(to right top, #f0f0f0, #e7e6e7, #deddde, #d5d3d4, #cdcaca);
    box-sizing: border-box;
    position: relative;
}

.user-container * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
}

.profile_picture {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
    
}

.shift-upwards {
    position: relative;
    bottom: 60px;
}

.user-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gallery > img {
    width: 300px;
    height: 300px;
}



.user-button {
    position: absolute;
    right: 30px;
    top: 25px;
}

.gallery {
    margin-top: 5px;
    display: grid;
    gap: 5px;
    grid-template-columns:  repeat(auto-fill, minmax(300px, 1fr));
}

.profile-img {
    width: 120px;
    height: 120px; 
    border-radius: 45px;
    border: 2px solid #cdcaca
}

.add-tags {
    white-space: wrap;
    width: 100%;
}

.bio {
    word-wrap: break-word;
}