@import "../../../variables";

.CSLogo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 40px;
  height: 40px;
  object-fit: cover;

  margin-right: 6px;
}

.logo-text {
  margin: 0;
  color: $cs-orange-5;
}
